@import "utilities/variables";

.eventos{
    text-align: center;

}


.carousel-caption{
    h2{
        border-radius: 20px;
        font-size: 200px;
        Text-shadow: 5px 5px 5px Black;
    }
    p{
        border-radius: 20px;
        font-size: 50px;
        Text-shadow: 5px 5px 5px Black;
    }
    
}